<!--模板3-->
<table class="table table-bordered table-hover table-condensed">
    <tbody>
    {% for post in site.posts %}
    {% assign inx = forloop.index | modulo: 4 %}
    {% if inx == 1 %}
    <tr class="success">
        {% elsif inx == 2 %}
    <tr class="warning">
        {% elsif inx == 3 %}
    <tr class="info">
        {% else %}
    <tr class="error">
        {% endif %}
        <td>
            <h3>
                <h3>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <small><em>{{ post.date | date_to_string }}</em></small>
                </h3>
                {% for category in post.categories %}
                {% assign inx = forloop.index | modulo: 4 %}
                {% if inx == 1 %}
                {% assign type = 'success' %}
                {% elsif inx == 2 %}
                {% assign type = 'warning' %}
                {% elsif inx == 3 %}
                {% assign type = 'info' %}
                {% elsif inx == 4 %}
                {% assign type = 'default' %}
                {% elsif inx == 5 %}
                {% assign type = 'danger' %}
                {% else %}
                {% assign type = 'error' %}
                {% endif %}
                <span class="btn btn-xs btn-{{ type }}">{{ category }}</span>
                {% endfor %}

            </h3>
            <p>{{ post.desc }}</p>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>