<!-- 模板1 -->
{% for post in site.posts %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ post.title }}
        </h3>
        {% for category in post.categories %}
        <span class="label label-success">{{ category }}</span>
        {% endfor %}
    </div>
    <div class="panel-body">
        {{ post.desc }}
    </div>
    <div class="panel-footer">
        <a class="btn" href="{{ post.url }}">{{ post.title }} »{{ post.date | date_to_string }}</a>
    </div>
</div>
{% endfor %}