<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid" style="text-align: center">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                博小白<!--<img alt="博小白" src="/assets/images/LOGO.png" style="height: inherit;width: inherit">-->
            </a>
            <!--<div>-->
            <!--<img src="/assets/images/LOGO.png" width="50" height="50">-->
            <!--</div>-->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for module in site.modules %}
                <li>
                    <a href="{{ module.url }}" title="{{  module.name }}" data-hover="{{ module.name }}">
                        {{ module.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <!--搜索框-->
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">🔍</button>
            </form>
        </div>
    </div>
</nav>